.my-comment{
  background-color: #ffffff;
  margin-bottom: 8px;
  box-shadow: 0 3px 8px #D3D3D3;
  border-radius: 40px;
}

.my-anchor{
  text-decoration: none;
}

.my-photo{
  max-width: 50px;
}

.my-comment-text{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
}


.my-comment-text-2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: blue;
}

























/* ================================================================================================================== */


.comment-heading {
  text-align: center;
}
.my-link{
  text-decoration: none;
}