.abcd{
background-image: url('../asset/image/background_lighting.jpg');
background-size: cover;
background-repeat: repeat;
height: 100%;
}

.navbar-brand {
  color: #565387 !important;
  font-size: 1.7rem;
}

.nav-link {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar a:hover {
  color: #3498db !important;
}

.menu_active {
  font-weight: bold;
  border-bottom: 1px solid #565387;
}

@media (max-width: 991px) {
  .navbar-brand {
    font-size: 1.5rem !important;
  }

  .menu_active {
    font-weight: bold;
    border-bottom: none;
  }
}



/* =========================  Term Of Use  ============================================  */

.termHeading {
  font-size: 50px;
}

.termsofuse {
  position: center;
  height: 100vh;
  width: 70%;
  margin-top: 50px;
  margin-left: 200px;
  margin-bottom: 50px;
}

/* ===================================================================================== */


/* ====================================================== */

#header {
  width: 100%;
  height: 80vh;
  margin-top: 70px;
}

#header h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  color: black;
}

#header .brand-name {
  color: #3498db;
}

#header .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  /*  */
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #3498db;
  border: 2px solid #3498db;
  text-decoration: none;
}

#header .btn-get-started:hover {
  background: #3498db;
  color: #fff;
}

.header-img {
  text-align: right;
}

#header .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.image {
  border-radius: 200px;
}

#header h1 {
  font-size: 2.4em;
  margin: .67em 0
}

#header h6 {
  font-weight: 550;
  font-size: 1.05em;
  margin: 1.67em 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#header p {
  font-weight: 400;
  font-size: 1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* color: #ff6699; */
}

.pdn {
  margin-left: 100px;
}

.nav-link2 {
  text-decoration: none;
}

.btn-get-started2 {
  font-weight: 500;
  font-size: 16px;
  /*  */
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  border: 2px solid #3498db;
  background: #3498db;
  text-decoration: none;
}


/* ====================    Images and text    =========================== */


.Cmine {
  margin-left: 325px;
}




/* ============   Footer   ================ */


.site-footer {
  position: absolute;
  width: 100%;
  margin-top: 20px;
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d
}

.copyright-text {
  margin: 0
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }
}

.link {
  text-decoration: none;
}